USE [master]
GO
/****** Object:  Database [PRN231]    Script Date: 3/28/2023 8:55:20 PM ******/
CREATE DATABASE [PRN231]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN231', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN231.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN231_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN231_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN231].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN231]
GO
/****** Object:  Table [dbo].[candiadate_stage]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candiadate_stage](
	[candidate_id] [int] NOT NULL,
	[stage_id] [int] NOT NULL,
 CONSTRAINT [PK_candiadate_stage] PRIMARY KEY CLUSTERED 
(
	[candidate_id] ASC,
	[stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidates]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](20) NULL,
	[last_name] [varchar](25) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[hire_date] [date] NOT NULL,
	[job_id] [int] NOT NULL,
	[interviewer_id] [nchar](10) NULL,
	[salary] [decimal](8, 2) NOT NULL,
	[department_id] [int] NULL,
 CONSTRAINT [PK__employee__3213E83F50F84446] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](40) NULL,
	[region_id] [int] NOT NULL,
 CONSTRAINT [PK__countrie__7E8CD055782E7D58] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](30) NOT NULL,
	[location_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interviewer]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interviewer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[position] [varchar](25) NOT NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_interviewer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[interviewer_candidate]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interviewer_candidate](
	[interviewer_id] [int] NOT NULL,
	[candidate_id] [int] NOT NULL,
	[score] [int] NOT NULL,
 CONSTRAINT [PK_interviewer_candidate] PRIMARY KEY CLUSTERED 
(
	[interviewer_id] ASC,
	[candidate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime] NULL,
	[expired_date] [datetime] NULL,
	[job_title] [nvarchar](50) NOT NULL,
	[min_salary] [decimal](8, 2) NULL,
	[max_salary] [decimal](8, 2) NULL,
 CONSTRAINT [PK__jobs__3213E83F0D65D3F9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs_skill]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs_skill](
	[job_id] [int] NOT NULL,
	[exp_year] [int] NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_jobs_skill] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[street_address] [varchar](40) NULL,
	[postal_code] [varchar](12) NULL,
	[city] [varchar](30) NOT NULL,
	[state_province] [varchar](25) NULL,
	[country_id] [int] NOT NULL,
 CONSTRAINT [PK__location__771831EA07343670] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[region_name] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_skills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stages]    Script Date: 3/28/2023 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[stage_index] [int] NOT NULL,
 CONSTRAINT [PK_stages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[candidates] ON 

INSERT [dbo].[candidates] ([id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [interviewer_id], [salary], [department_id]) VALUES (100, N'Steven', N'King', N'steven.king@sqltutorial.org', N'515.123.4567', CAST(N'1987-06-17' AS Date), 4, NULL, CAST(24000.00 AS Decimal(8, 2)), 9)
INSERT [dbo].[candidates] ([id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [interviewer_id], [salary], [department_id]) VALUES (101, N'Neena', N'Kochhar', N'neena.kochhar@sqltutorial.org', N'515.123.4568', CAST(N'1989-09-21' AS Date), 5, NULL, CAST(17000.00 AS Decimal(8, 2)), 9)
INSERT [dbo].[candidates] ([id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [interviewer_id], [salary], [department_id]) VALUES (102, N'Lex', N'De Haan', N'lex.de haan@sqltutorial.org', N'515.123.4569', CAST(N'1993-01-13' AS Date), 5, NULL, CAST(17000.00 AS Decimal(8, 2)), 9)
SET IDENTITY_INSERT [dbo].[candidates] OFF
GO
SET IDENTITY_INSERT [dbo].[countries] ON 

INSERT [dbo].[countries] ([id], [country_name], [region_id]) VALUES (1, N'Argentina', 2)
INSERT [dbo].[countries] ([id], [country_name], [region_id]) VALUES (2, N'Australia', 3)
INSERT [dbo].[countries] ([id], [country_name], [region_id]) VALUES (3, N'Belgium', 1)
SET IDENTITY_INSERT [dbo].[countries] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([id], [department_name], [location_id]) VALUES (1, N'Administration', 1700)
INSERT [dbo].[departments] ([id], [department_name], [location_id]) VALUES (2, N'Marketing', 1800)
INSERT [dbo].[departments] ([id], [department_name], [location_id]) VALUES (3, N'Purchasing', 1700)
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[interviewer] ON 

INSERT [dbo].[interviewer] ([id], [first_name], [last_name], [position], [email], [password]) VALUES (1, N'Penelope', N'Gietz', N'Child', N'dominhanh171201@gmail.com', N'123123')
INSERT [dbo].[interviewer] ([id], [first_name], [last_name], [position], [email], [password]) VALUES (2, N'Nick', N'Higgins', N'Child', N'abc@gmail.com', N'321321')
INSERT [dbo].[interviewer] ([id], [first_name], [last_name], [position], [email], [password]) VALUES (3, N'Ed', N'Whalen', N'Child', NULL, NULL)
SET IDENTITY_INSERT [dbo].[interviewer] OFF
GO
SET IDENTITY_INSERT [dbo].[jobs] ON 

INSERT [dbo].[jobs] ([id], [created_date], [expired_date], [job_title], [min_salary], [max_salary]) VALUES (1, NULL, NULL, N'Public Accountant', CAST(4200.00 AS Decimal(8, 2)), CAST(9000.00 AS Decimal(8, 2)))
INSERT [dbo].[jobs] ([id], [created_date], [expired_date], [job_title], [min_salary], [max_salary]) VALUES (2, NULL, NULL, N'Accounting Manager', CAST(8200.00 AS Decimal(8, 2)), CAST(16000.00 AS Decimal(8, 2)))
INSERT [dbo].[jobs] ([id], [created_date], [expired_date], [job_title], [min_salary], [max_salary]) VALUES (3, NULL, NULL, N'Administration Assistant', CAST(3000.00 AS Decimal(8, 2)), CAST(6000.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[jobs] OFF
GO
INSERT [dbo].[jobs_skill] ([job_id], [exp_year], [skill_id]) VALUES (9, NULL, 1)
INSERT [dbo].[jobs_skill] ([job_id], [exp_year], [skill_id]) VALUES (9, NULL, 2)
INSERT [dbo].[jobs_skill] ([job_id], [exp_year], [skill_id]) VALUES (9, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[locations] ON 

INSERT [dbo].[locations] ([id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (1400, N'2014 Jabberwocky Rd', N'26192', N'Southlake', N'Texas', 23)
INSERT [dbo].[locations] ([id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (1500, N'2011 Interiors Blvd', N'99236', N'South San Francisco', N'California', 23)
INSERT [dbo].[locations] ([id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (1700, N'2004 Charade Rd', N'98199', N'Seattle', N'Washington', 23)
SET IDENTITY_INSERT [dbo].[locations] OFF
GO
SET IDENTITY_INSERT [dbo].[regions] ON 

INSERT [dbo].[regions] ([id], [region_name]) VALUES (1, N'Europe')
INSERT [dbo].[regions] ([id], [region_name]) VALUES (2, N'Americas')
INSERT [dbo].[regions] ([id], [region_name]) VALUES (3, N'Asia')
SET IDENTITY_INSERT [dbo].[regions] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([id], [name]) VALUES (1, N'.NET')
INSERT [dbo].[skills] ([id], [name]) VALUES (2, N'JAVA')
INSERT [dbo].[skills] ([id], [name]) VALUES (3, N'SQL')
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
SET IDENTITY_INSERT [dbo].[stages] ON 

INSERT [dbo].[stages] ([id], [name], [stage_index]) VALUES (2, N'Round 1', 1)
INSERT [dbo].[stages] ([id], [name], [stage_index]) VALUES (3, N'Round 2', 2)
INSERT [dbo].[stages] ([id], [name], [stage_index]) VALUES (4, N'Round 3', 3)
SET IDENTITY_INSERT [dbo].[stages] OFF
GO
ALTER TABLE [dbo].[candidates] ADD  CONSTRAINT [DF__employees__first__31EC6D26]  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [dbo].[candidates] ADD  CONSTRAINT [DF__employees__phone__32E0915F]  DEFAULT (NULL) FOR [phone_number]
GO
ALTER TABLE [dbo].[candidates] ADD  CONSTRAINT [DF__employees__depar__34C8D9D1]  DEFAULT (NULL) FOR [department_id]
GO
ALTER TABLE [dbo].[countries] ADD  CONSTRAINT [DF__countries__count__276EDEB3]  DEFAULT (NULL) FOR [country_name]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (NULL) FOR [location_id]
GO
ALTER TABLE [dbo].[jobs] ADD  CONSTRAINT [DF__jobs__min_salary__35BCFE0A]  DEFAULT (NULL) FOR [min_salary]
GO
ALTER TABLE [dbo].[jobs] ADD  CONSTRAINT [DF__jobs__max_salary__36B12243]  DEFAULT (NULL) FOR [max_salary]
GO
ALTER TABLE [dbo].[locations] ADD  CONSTRAINT [DF__locations__stree__2B3F6F97]  DEFAULT (NULL) FOR [street_address]
GO
ALTER TABLE [dbo].[locations] ADD  CONSTRAINT [DF__locations__posta__2C3393D0]  DEFAULT (NULL) FOR [postal_code]
GO
ALTER TABLE [dbo].[locations] ADD  CONSTRAINT [DF__locations__state__2D27B809]  DEFAULT (NULL) FOR [state_province]
GO
ALTER TABLE [dbo].[regions] ADD  DEFAULT (NULL) FOR [region_name]
GO
ALTER TABLE [dbo].[candiadate_stage]  WITH CHECK ADD  CONSTRAINT [FK_candiadate_stage_candidates] FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidates] ([id])
GO
ALTER TABLE [dbo].[candiadate_stage] CHECK CONSTRAINT [FK_candiadate_stage_candidates]
GO
ALTER TABLE [dbo].[candiadate_stage]  WITH CHECK ADD  CONSTRAINT [FK_candiadate_stage_stages] FOREIGN KEY([stage_id])
REFERENCES [dbo].[stages] ([id])
GO
ALTER TABLE [dbo].[candiadate_stage] CHECK CONSTRAINT [FK_candiadate_stage_stages]
GO
ALTER TABLE [dbo].[candidates]  WITH CHECK ADD  CONSTRAINT [FK__employees__depar__3E52440B] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[candidates] CHECK CONSTRAINT [FK__employees__depar__3E52440B]
GO
ALTER TABLE [dbo].[candidates]  WITH CHECK ADD  CONSTRAINT [FK__employees__job_i__3F466844] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[candidates] CHECK CONSTRAINT [FK__employees__job_i__3F466844]
GO
ALTER TABLE [dbo].[countries]  WITH CHECK ADD  CONSTRAINT [FK__countries__regio__286302EC] FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[countries] CHECK CONSTRAINT [FK__countries__regio__286302EC]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK__departmen__locat__35BCFE0A] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK__departmen__locat__35BCFE0A]
GO
ALTER TABLE [dbo].[interviewer_candidate]  WITH CHECK ADD  CONSTRAINT [FK_interviewer_candidate_candidates] FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidates] ([id])
GO
ALTER TABLE [dbo].[interviewer_candidate] CHECK CONSTRAINT [FK_interviewer_candidate_candidates]
GO
ALTER TABLE [dbo].[interviewer_candidate]  WITH CHECK ADD  CONSTRAINT [FK_interviewer_candidate_interviewer] FOREIGN KEY([interviewer_id])
REFERENCES [dbo].[interviewer] ([id])
GO
ALTER TABLE [dbo].[interviewer_candidate] CHECK CONSTRAINT [FK_interviewer_candidate_interviewer]
GO
ALTER TABLE [dbo].[jobs_skill]  WITH CHECK ADD  CONSTRAINT [FK_jobs_skill_jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
GO
ALTER TABLE [dbo].[jobs_skill] CHECK CONSTRAINT [FK_jobs_skill_jobs]
GO
ALTER TABLE [dbo].[jobs_skill]  WITH CHECK ADD  CONSTRAINT [FK_jobs_skill_skills] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[jobs_skill] CHECK CONSTRAINT [FK_jobs_skill_skills]
GO
ALTER TABLE [dbo].[locations]  WITH CHECK ADD  CONSTRAINT [FK__locations__count__2E1BDC42] FOREIGN KEY([country_id])
REFERENCES [dbo].[countries] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[locations] CHECK CONSTRAINT [FK__locations__count__2E1BDC42]
GO
USE [master]
GO
